/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    VCS Recombination Pipeline : Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name            = 'vcs_recombine'
    author          = """Christopher Lee"""
    homePage        = 'https://github.com/cplee1/vcs_recombine'
    description     = """A pipeline for recombining legacy VCS data"""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>23.04.0'
    version         = '1.1.0'
    doi             = ''
}

params {
    // Required command line parameters
    obsid = null
    download_dir = null

    // Optional command line parameters
    offset = null
    duration = null
    vcs_dir = "/scratch/mwavcs/$USER"
}

if ("$PAWSEY_CLUSTER" == 'mwa') {
    includeConfig 'conf/garrawarla.config'
} else if ("$PAWSEY_CLUSTER" == 'setonix') {
    includeConfig 'conf/setonix.config'
} else {
    System.err.println("Error: Host name not recognised.")
    exit(1)
}
