/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    VCS Recombination Pipeline : Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    module_dir = '/pawsey/mwa/software/python3/modulefiles'
    vcs_dir = "/scratch/mwavcs/$USER/vcs_downloads"
    download_dir = null
    increment = 32
    offset = null
    duration = null
    obsid = null
}

// Singularity setup
process.module = 'singularity/3.7.4'
singularity {
    enabled = true
    runOptions = '-B /scratch'
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
}

// Job execution options
executor {
    $slurm {
        queueSize = 30  // Number of tasks handled in parallel
        submitRateLimit = '10 sec'  // Number of jobs submitted per second
        pollInterval = '30 sec'  // How often to poll the job status
        jobName = { "${task.process}_(${task.index})" }
    }
    $local {
        // Local jobs should not be resource intensive
        cpus = 4
        memory = 16.GB
    }
}

// Process specific directives
process {
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: cpu {
        cpus = 1
        executor = 'slurm'
    }
}
