params {
    module_dir = '/pawsey/mwa/software/python3/modulefiles'

    rc_max_forks = 20
    rc_ntasks = 36
    rc_cpus_per_task = 1
    rc_mem_per_task = 4.GB
    rc_walltime = 10.min
}

executor {
    $slurm {
        queueSize = 30  // Number of tasks handled in parallel
        submitRateLimit = '10 sec'  // Number of jobs submitted per second
        pollInterval = '30 sec'  // How often to poll the job status
        jobName = { "${task.process}_(${task.index})" }
    }
    $local {
        // Limit resources used on the head node
        cpus = 4
        memory = 16.GB
    }
}

process {
    cache = 'lenient'
    
    withLabel: python {
        beforeScript = "module use ${params.module_dir}; module load python/3.8.2"
    }

    withName: RECOMBINE {
        executor = 'slurm'
        queue = 'workq'
        maxForks = params.rc_max_forks
        time = { params.rc_walltime * task.attempt }
        clusterOptions = "--nodes=1 --ntasks-per-node=${params.rc_ntasks} --cpus-per-task=${params.rc_cpus_per_task} --mem-per-cpu=${params.rc_mem_per_task.getGiga()}G"
        beforeScript = "module use ${params.module_dir}; module load recombine/v1.3"
    }
}
