params {
    module_dir = '/software/projects/mwavcs/setonix/2024.05/modules/zen3/gcc/12.2.0'

    rc_max_forks = 20
    rc_ntasks = 32
    rc_cpus_per_task = 1
    rc_mem_per_task = 4.GB
    rc_walltime = 1.h
}

executor {
    $slurm {
        queueSize = 30  // Number of tasks handled in parallel
        submitRateLimit = '10 sec'  // Number of jobs submitted per second
        pollInterval = '30 sec'  // How often to poll the job status
        jobName = { "${task.process}_(${task.index})" }
    }
    $local {
        // Limit resources used on the head node
        cpus = 1
        memory = 8.GB
    }
}

process {
    cache = 'lenient'
    
    withLabel: python {
        beforeScript = "module load python/3.11.6"
    }

    withName: RECOMBINE {
        executor = 'slurm'
        queue = 'mwa'
        maxForks = params.rc_max_forks
        time = { params.rc_walltime * task.attempt }
        clusterOptions = "-A mwavcs --nodes=1 --ntasks-per-node=${params.rc_ntasks} --cpus-per-task=${params.rc_cpus_per_task} --mem-per-cpu=${params.rc_mem_per_task.getGiga()}G"
        beforeScript = "module use ${params.module_dir}; module load recombine/1.0-vc3f6tm"
    }
}
